body
{
    background-color: #f5f5f5;
}
#home
{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;

}
.overlay
{
    background-color: rgba(0, 0, 0, 0.7);
   
}
.me
{
    font-size: 5rem;
    font-weight: 600;
}
 .animated-text
{

}
 .animated-text::after
{
    content:"";
    animation-name: animated-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animated-text
{
    0%{content: " ";}
    2%{content: " d";}
    4%{content: "de ";}
    6%{content: "des ";}
    8%{content: " desi";}
    10%{content: " desig";}
    12%{content: "design ";}
    14%{content: " designer";}
    16%{content: "designe ";}
    18%{content: "design";}
    20%{content: " desig";}
    22%{content: "desi ";}
    24%{content: "de";}
    26%{content: " dev";}
    28%{content: "deve ";}
    30%{content: " devel";}
    32%{content: " develo";}
    34%{content: "develop ";}
    36%{content: "develop ";}
    38%{content: "develope ";}
    40%{content: "developer ";}
}
.about-me h2
{
    position: relative;
}
.about-me h2::before
{
    content: "";
    width: 150px;
    height: 2px;
    position: absolute;
    bottom: -10px;;
    background-color: #0078ff;
  }

  .bar-1
  {background-color: #0078ff;

  }
  .bar-2
  {
      background-color: #CDE1F8;
  }

  .icon
  {
      width: 100px;
      height: 100px;
      box-shadow: 0 0 0  10px #0078ff;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: ease 1s all;
  }
  .icon:hover
  { 
      box-shadow: 0 0 0 10px #CDE1F8;
      background-color: #0078ff;
  }
.counter
{
    background-image: url(../images/post-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.counter-overlay
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 120, 255, 0.4);
}

.conter-icon
{    width: 80px;
    height: 80px;
    box-shadow: 0 0 0  10px #CDE1F8;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.port
{
    position: relative;
}
.port::before
{
    content: "";
    width: 10%;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    bottom: -15px;
    left: 45%;

}

.plus
{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0  3px #0078ff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#testmonial
{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    
}


.carousel-item img
{
    width: 15%;
    border-radius: 50%;
    margin: auto;
}

.carousel-indicators [data-bs-target]
{
    width: 20px;
    height: 20px;
    background-color: #0078ff;
    border-radius: 50%;
}
.test-overlay
{
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    background-color: rgba(1, 120, 255, 0.5);
}
.it
{
    position: relative;
}
.it::before
{
    content: "";
    width: 10%;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    bottom: -15px;
    left: 45%;

}

.f-img img
{
    width: 10%;
    border-radius: 50%;

}
.f-img a
{
     text-decoration: none;
     color: black;
}
footer
{
    background-color: #0062d3;
    padding: 5px;
    color: white;
    text-align: center;
}

.touch::before
{content: "";
    width: 200px;
    height: 4px;
    background-color: #0078ff;
    position: absolute;
    bottom: -15px;

}